/* Estilo para el contenedor principal */
.container {
    max-width: 500px;
    margin: 0 auto;
    margin-top:10%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilo para el encabezado */
  h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    color: #333;
  }
  
  /* Estilos para los campos del formulario */
  .form-group {
    margin-bottom: 20px;
    
    margin-top: 20px;
  }
  
  .form-group label {
    font-size: 14px;
    color: #555;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    transition: all 0.3s ease;
  }
  
  /* Estilo para el borde cuando el input está en foco */
  .form-group input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  /* Mensajes de error */
  .text-danger {
    font-size: 12px;
    color: #dc3545;
    margin-top: 5px;
  }
  
  /* Estilos para el botón */
  button[type="submit"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Estilo para el botón deshabilitado */
  button[type="submit"]:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  /* Estilos para el mensaje de éxito o error */
  .alert {
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
  }
  
  /* Estilo para el mensaje de éxito */
  .alert-success {
    background-color: #28a745;
    color: white;
  }
  
  /* Estilo para el mensaje de error */
  .alert-danger {
    background-color: #dc3545;
    color: white;
  }
  
  .input-group {
    display: flex; /* Esto asegura que los elementos hijos se alineen de manera flexible */
  }
  
  .input-group-append {
    display: flex;
    align-items: center; /* Esto alinea el contenido verticalmente en el centro */
    margin-left: -1px; /* Opcional, para evitar que el botón se desplace si el borde de los inputs se ve raro */
  }
  
  .input-group-append button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .input-group-append button i {
    font-size: 1.5rem;
    color: #007bff;
  }
  
  .input-group-append button:hover i {
    color: #0056b3;
  }
  
  /* Mejorar la apariencia en dispositivos móviles */
  @media (max-width: 600px) {
    .container {
      padding: 15px;
    }
  
    h2 {
      font-size: 20px;
    }
  }
  