<!-- src/app/login/login.component.html -->
<div class="login-container">
  <form (ngSubmit)="onSubmit()">
    <h2>Iniciar Sesión</h2>

    <div class="form-group">
      <label for="correo">Correo</label>
      <input
        type="email"
        id="correo"
        [(ngModel)]="loginData.correo"
        name="correo"
        required
      />
    </div>

    <div class="form-group">
      <label for="contrasenia">Contraseña</label>
       <input 
      [attr.type]="showPassword ? 'text' : 'password'" 
      id="contrasenia" 
      class="form-control" 
      [(ngModel)]="loginData.contrasenia" 
      name="contrasenia" 
      required>
    </div>
    <button 
    type="button" 
    class="btn btn-outline-secondary" 
    (click)="togglePasswordVisibility()" 
    aria-label="Toggle password visibility">
    {{ showPassword ? 'Ocultar Contraseña' : 'Ver Contraseña' }}
  </button>
    <button type="submit">Iniciar Sesión</button>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  </form>
</div>
